@import './varibales';

.container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen  and (max-width: $mobileView){
        display: flex;
        flex-direction: column;   
    }
}

.post{
    border: 2px black solid;
    border-radius: 14px;
    margin: 30px ;
    position: relative;
    animation: identifier 0.3s ;
    animation-iteration-count: 1;

  h1{
        text-align: start;
        padding: 5px;
        font-size: 2rem;
        color: white;
        position: absolute;
        z-index: 110;
        bottom: 10px;
        background-color: rgba(0, 0, 0, 0.185);

        @media only screen  and (max-width: $mobileView){
            font-size: 1rem;
        }

    }


  @media only screen {
      font-size: 1.2rem;
      margin: 20px ;
      
  }


}


.ImageContainer{

    // margin: 5px;
    position: relative;


}


.link{
    // margin: 20px 5px;
    border-radius: 10px;
    border: black 2px solid;
    // padding: 5px;
    width: 30%;
    display: grid;
    place-items: center;
    
    &:hover{
        background-color: black;
        color: white;
    }

    @media only screen  and (max-width: $mobileView){
        font-size: 1rem;
        top: 30%;
        width: 50%;
    }

}

.description{
    margin: 10px;
}


@keyframes identifier {
    0%{
        transform: translateY(40px);
        opacity: 0.3;
    }

    25%{
        transform: translateY(30px);
        opacity: 0.6;
    }

    50% {
        transform: translateY(20px);
        opacity: 0.8;
    }

    75%{
        transform: translateY(10px);
        opacity: 0.9;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}