@import './varibales';

.projectsContainer{
    width: 90%;
    margin: 40px  auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  
    @media only screen  and (max-width: $mobileView){
      display: flex;
      flex-direction: column;
    }
    
    .post{
      margin: 20px;
      position: relative;
      
      img{
        height: 300px;
        width: 100%;
  
        @media only screen and (max-width: $mobileView) {
          height: 200px;
        }
        
      }
  
      .preview{
        position: absolute;
        top: 40%;
        left: 40%;
  
  
      }
  
  
    }
  
    #learntocode:hover  {
      transform: scale(105%);
      transition: all  0.5s ease;
        &::after{
          text-align: center;
          content: 'Form validation Challenge from Frontendmentor';
          height: 60px;
          width: 100%;
          background-color: white;
          position: absolute;
          top: -70px;
          display: flex;
          justify-content: center;
          align-items: center;
          left: 0;
          border-radius: 20px;
          -webkit-box-shadow: 2px 5px 14px 2px rgba(0,0,0,0.34); 
          box-shadow: 2px 5px 14px 2px rgba(0,0,0,0.34);  }
        }
    
    #carousel:hover{
      transform: scale(105%);
      transition: all  0.5s ease;
      &::after{
        content: 'Vanilla Javascript upside carousel ';
        height: 60px;
        width: 100%;
        background-color: white;
        position: absolute;
        top: -70px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        border-radius: 20px;
        -webkit-box-shadow: 2px 5px 14px 2px rgba(0,0,0,0.34); 
        box-shadow: 2px 5px 14px 2px rgba(0,0,0,0.34); 
        }
    
    }
    
    
    #todo:hover{
      transform: scale(105%);
      transition: all  0.5s ease;
      &::after{
        content: 'A Fancy todo app created with Vanilla JS';
        height: 60px;
        width: 100%;
        background-color: white;
        position: absolute;
        top: -70px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        border-radius: 20px;
        -webkit-box-shadow: 2px 5px 14px 2px rgba(0,0,0,0.34); 
        box-shadow: 2px 5px 14px 2px rgba(0,0,0,0.34); 
        }
  
        @media only screen and (max-width: $mobileView) {
          font-size: 0.9rem;
          
        }
    
    }
    
    
    #insightcard:hover{
    
      transform: scale(105%);
      transition: all  0.5s ease;
      &::after{
        content: 'insight card challenge from Frontendmentor';
        height: 60px;
        width: 100%;
        background-color: white;
        position: absolute;
        top: -70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 0;
        border-radius: 20px;
        -webkit-box-shadow: 2px 5px 14px 2px rgba(0,0,0,0.34); 
        box-shadow: 2px 5px 14px 2px rgba(0,0,0,0.34);
        
        
        @media only screen and (max-width: $mobileView) {
          font-size: 0.9rem;
          
        }
        }
    
    }
    
  
  }
  
  
  .button-2{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    color: $midblue;
    border: $midblue 2px solid;
    border-radius: 15px;
    &:hover{
        background-color: $midblue;
        color: $lightBlue;
    }
  }
  