@import './varibales.scss';

  .ExperiencesContainer{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
  
    @media only screen and (max-width: $mobileView) {
        flex-direction: column;
  
    }
  }
  
  .experiences{
    animation: identifier 0.3s ;
    animation-iteration-count: 1;
    width: 30%;
    margin: 10px 0px;

    
    
    h1{
        margin-bottom: 15px;
    }
  
    h2{
        margin-bottom: 15px;
        color: $red;
    }
  
    
    ul{
        padding: 0 20px;
    }

    li{
         margin: 10px 0;
        
    }
  
    @media only screen and (max-width: $mobileView) {
        width: 90%;
  
    }
  }
  

@keyframes identifier {
    0%{
        transform: translateY(40px);
        opacity: 0.3;
    }

    25%{
        transform: translateY(30px);
        opacity: 0.6;
    }

    50% {
        transform: translateY(20px);
        opacity: 0.8;
    }

    75%{
        transform: translateY(10px);
        opacity: 0.9;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}