@import './varibales';

.container{
    height: 80vh;
    display: flex;
    margin: 30px auto;
    justify-content: space-evenly;
    overflow: hidden;
    
    
    @media only screen and (max-width: $mobileView) {
        flex-direction: column;
        height: auto;
    }
}

.softSkills{
    position: relative;
    height: 100%;
    animation: identifier 0.3s ;
    animation-iteration-count: 1;

    h1{
        text-align: center;
        margin: 20px 0;
    
    }


    @media only screen and (max-width: $mobileView) {
        flex-direction: column;


    }
}


.MyStack{
    height: 100%;
    position: relative;
    animation: identifier 0.3s ;
    animation-iteration-count: 1;
    margin-bottom: 20px;

    h1{
        text-align: center;
        margin: 20px 0;
    
    }

    @media only screen and (max-width: $mobileView) {
        flex-direction: column;
        width: 100%;
        

    }
}

.skillsContainer{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px auto;
    font-size: 1rem;


    @media only screen and (max-width: $mobileView) {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px auto;

    }

}

.skill{
    text-align: center;
    margin: 10px;
    font-size: 0.7rem;

    @media only screen and (max-width: $mobileView) {
        margin: 5px;


    }
}



@keyframes identifier {
    0%{
        transform: translateY(40px);
        opacity: 0.3;
    }

    25%{
        transform: translateY(30px);
        opacity: 0.6;
    }

    50% {
        transform: translateY(20px);
        opacity: 0.8;
    }

    75%{
        transform: translateY(10px);
        opacity: 0.9;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}